@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
}

header {
  display: flex;
}

header > img {
  margin-top: 55px;
  margin-left: 110px;
}

header > nav > ul {
  display: flex;
  list-style: none;
  margin-left: 770px;
  margin-top: 55px;
  gap: 48px;
}

header > nav > ul > li {
  cursor: pointer;
  color: #1f1534;
}

header > nav > ul > li:hover {
  color: #1f1534;
  font-weight: 700;
}

h1 {
  color: #1f1534;
  margin-top: 65px;
  margin-left: 110px;
}

p {
  color: #7d7987;
  margin-top: 45px;
  margin-left: 110px;
  line-height: 28px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69b99d;
  color: white;
  border-radius: 4px;
  border: none;
  width: 162px;
  height: 55px;
  margin-top: 45px;
  margin-left: 110px;
  cursor: pointer;
  gap: 10px;
}

button:hover {
  background-color: #47a584;
}

h1,
li,
button {
  font-family: 'Mulish', sans-serif;
}

p,
footer {
  font-family: 'Open Sans', sans-serif;
}

.conteudo {
  display: flex;
}

span {
  color: #89c5cc;
}

h1 {
  font-weight: 400;
  font-size: 49px;
  line-height: 56px;
}

.imagem-principal {
  margin-left: 260px;
  max-width: 100%;
  height: 440px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

footer > a {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
